# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Echelon
email: echeloneventctr@outlook.com
tagline: Echelon Event Center provides an unforgettable experience with amazing services.
description: >- # this means to ignore newlines until "baseurl:"
  Echelon Event Center provides an unforgettable experience with amazing services at an affordable price. We believe that inexpensive prices doesn’t mean you have to sacrifice quality. We have a well decorated and elegant event space that’s comparable to luxury venues.
baseurl: "/echelon" # the subpath of your site, e.g. /blog
url: "https://arciose.github.io/" # the base hostname & protocol for your site, e.g. http://example.com
logo: /assets/logo.png
address: 6623 South Las Vegas Boulevard &num;139, Las Vegas, NV 89119
phone: 17028176851
phone-text: "1 (702) 817-6851"
social:
  - title: Email
    src: mailto:echeloneventctr@outlook.com
  - title: Facebook
    src: https://www.facebook.com/Echelon-Event-Center-100726935279063
  - title: Instagram
    src: https://www.instagram.com/echeloneventcenter/
  # - title: Yelp
  #   src: https://yelp.com/

sass:
    sass_dir: _sass
    style: compressed

# Build settings
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-seo-tag

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
