@charset "utf-8";
@import "bulma";



// body {
//   font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
// }
.uppercase {
  text-transform: uppercase;
}
.hr-nav {
  box-shadow: 0 0rem 1rem 0.1rem;
  margin-top: 0;
}
.hr-footer {
  box-shadow: 0 0rem -1rem -0.1rem;
}

.question::before {
  font-weight: bolder;
  content: "Q: ";
}
.answer::before {
  font-weight: bolder;
  content: "A: "
}

.question, .answer {
  text-align: justify;
}

details.answer {
  
}

  input[type=checkbox] {
    display: none;
  }

  .figure img {
    cursor: zoom-in;
  }

  input[type=checkbox]:checked ~ label > div {
    background-color: #e6e6e6;
    z-index: 9000;
    position: absolute;
    max-width: 100vw;
    max-height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  input[type=checkbox]:checked ~ label > img {
    cursor: zoom-out;
    z-index: 9001;
    position: absolute;
    max-width: 95vw;
    max-height: 95vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }