.is-uppercase {
  text-transform: uppercase;
}
.question, .answer {
  text-align: justify;
}
  .gallery-image > input[type=checkbox] {
    display: none;
  }
  figure.gallery-image, 
  figure.gallery-image>* {
    cursor: zoom-in;
  }
  figure.gallery-image:has(input[type=checkbox]:checked), 
  figure.gallery-image:has(input[type=checkbox]:checked) > * {
    cursor: zoom-out;
  }

  .gallery-image > input[type=checkbox]:checked ~ label > div > figcaption {
    padding: $size-1;
    font-size: $size-1;
  }

  .gallery-image > input[type=checkbox]:checked ~ label {
    background-color: $black;
    background-color: $black-fade;
    color: $black;
    z-index: 9000;
    position: fixed;
    max-width: 100vw;
    max-height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .gallery-image > input[type=checkbox]:checked ~ label > div {
    z-index: 9001;
    margin: $size-6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white-fade;
    padding-top: $size-3;
    padding-right: $size-3;
    padding-left: $size-3;
    padding-bottom: $size-3;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
  .gallery-image > input[type=checkbox]:checked ~ label > div > img {
    max-width: 80vw;
    max-height: 80vh;
  }
details {
  cursor: pointer;
}
.gallery-images {
  display: block;
  columns: $size-5 * 10;
  gap: $size-5;
}
.figure {
  display: inline-block;
  padding: $size-5;
  margin: $size-5;
  background: $true-white;
  text-align: center !important;
  font-family: cursive;
  color: black;
} 
.figure:first-child {
  margin: 0 $size-5 $size-5 $size-5;
}
.figure:last-child {
  margin: $size-5 $size-5 0 $size-5;
}
  .gallery-images.figure {
    margin-bottom: $size-5;
  }
.figure-image-caption {
  white-space: nowrap;
  overflow-x: hidden;
}
.hero-home-image {
  max-height: 80vh;
  max-width: 80vw;
  margin: auto;
}
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.navbar-boxshadow {
  box-shadow: 0 0rem $size-6 0.1rem;
}
html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  padding-top: $size-1;
}
body > footer {
  margin-top: auto;
}
.photo {
  padding: $size-5 $size-5 0 $size-5;
  margin: 0 $size-5 $size-5 $size-5;
  background: $true-white;
}
/*theme sections*/
.theme-selector {
  background-color: $black;
  color: $white;
}
.display-inline {
  display: inline-block;
  margin: $size-6 auto $size-6 auto;
  padding: $size-6;
}
.is-theme-title {
  font-weight: bolder;
}
.is-theme-option:hover {
  background-color: $black-ter;
  font-weight: bold;
}
.is-theme-option:has(input) {
  background-color: $black-ter;
  font-weight: bold;
}
/*theme sections*/