.uppercase {
  text-transform: uppercase;
}
.hr-nav {
  box-shadow: 0 0rem 1rem 0.1rem;
  margin-top: 48px;
}
.hr-footer {
  box-shadow: 0 0rem -1rem -0.1rem;
}

.question, .answer {
  text-align: justify;
}

  .gallery-image > input[type=checkbox] {
    display: none;
  }

  .gallery-image > .figure img {
    cursor: zoom-in;
  }

  .gallery-image > input[type=checkbox]:checked ~ label {
    background-color: $black;
    background-color: $black-fade;
    color: $black;
    z-index: 9000;
    position: fixed;
    max-width: 100vw;
    max-height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .gallery-image > input[type=checkbox]:checked ~ label > div {
    z-index: 9001;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white-fade;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

  .gallery-image > input[type=checkbox]:checked ~ label > div > img {
    cursor: zoom-out;
    max-width: 95vw;
    max-height: 95vh;
  }

details {
  cursor: pointer;
}

.gallery-images {
  display: block;
  columns: 12rem;
  gap: 1rem;
}
  .gallery-images .figure {
    margin-bottom: 1rem;
    break-inside: avoid;
  }
.figure {
  padding: 1rem;
  margin: 0 1rem 1rem 1rem;
  background: $true-white;
  text-align: center !important;
  font-family: cursive;
  color: black;
  text-transform: uppercase;
} 
.hero-home-image {
  max-height: 80vh;
  max-width: 80vw;
  margin: auto;
}
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60vh;
  overflow-x: hidden;
  overflow-y: auto;
}


  .navbar-boxshadow {
    box-shadow: 0 0rem 1rem 0.1rem;
  }

html,
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
  padding-top: 3rem;
}
body > footer {
    margin-top: auto;
}