---
layout: compress
---

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    {% seo %}
    <link rel="apple-touch-icon" sizes="57x57" href="/echelon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/echelon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/echelon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/echelon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/echelon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/echelon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/echelon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/echelon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/echelon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/echelon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/echelon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/echelon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/echelon/favicon-16x16.png">
    <link rel="manifest" href="/echelon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/echelon/styles/style.css">
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation" >
        <div class="navbar-brand">
            <a class="navbar-item" href="/echelon/">
                <img src="/echelon/assets/images/logo-new.png" height="28" alt="Echelon">
            </a>
        
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="#main-navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="main-navbar" class="navbar-menu">
            <div class="navbar-start uppercase">
                <a class="navbar-item" href="/echelon/">Home</a>
                <a class="navbar-item" href="/echelon/services">Services</a>
                <a class="navbar-item" href="/echelon/faq">FAQ</a>
                <a class="navbar-item" href="/echelon/contact">Contact</a>
                <a class="navbar-item" href="/echelon/payments">Payments</a>
            </div>
        </div>
    </nav>
    <hr class="hr-nav">
    {{ content }}
    <hr class="hr-footer">
    <footer class="has-text-centered" >&copy;2021 Echelon Event Center All rights Reserved</footer>
    <script src="/echelon/assets/js/main.js"></script>
</body>
</html>