---
layout: compress
---

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ site.title }} - {{ page.title }}</title>
    <link rel="stylesheet" href="/styles/style.css">
    {% seo %}
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/services">Services</a>
        <a href="/faq">FAQ</a>
        <a href="/contact">Contact</a>
        <a href="/payments">Payments</a>
    </nav>
    <section>
        {{ content }}
    </section>
    <hr>
    <footer>&copy;2021 Echelon Event Center All rights Reserved</footer>
</body>

</html>